body {
  height: 100%;
  background-image: url('../images/background/moback1x.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 1/2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: url('../images/background/moback2x.jpeg');
  }

  @include md {
    background-image: url('../images/background/taback1x.jpeg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 1/2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/background/taback2x.jpeg');
    }
  }

  @include lg {
    background-image: url('../images/background/deskback1x.jpeg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 1/2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/background/deskback2x.jpeg');
    }
  }
}