.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

   @include xl-max {
     display: none;
   }
}
   
.boxImg {
  position: relative;
  width: 340px;
  height: 250px;
  overflow: hidden;

 @include sm-lg-max {
  width: 320px;
  height: 250px;
 }

 @include lg {
   width: 600px;
   height: 450px;
 }
   
& img {
  height: 250px;
  transition: .5s;

   @include lg {
    height: 450px;
    }
  }

&:hover .logo,
&:focus .logo {
  opacity: 0;
  }  

&:hover img {
  transform: rotate(-45deg) scale(2);
  filter: blur(2px);
  }

&:hover .boxMenu::before {
  transform: translateX(280%) rotate(45deg) scale(3);
  transition: .5s;
  opacity: .6;
  }

&:hover .boxMenu::after {
  transform: translateX(200%) rotate(45deg) scale(3);
  transition: .5s;
  opacity: .6;
  }

&:hover .nav-menu,
&:hover .list-contacts {
  transform: scale(1);
  opacity: 1;
  }
}
 
.centered {
  position: relative;
  text-align: center;
}
