@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mali:wght@700&family=Open+Sans:wght@400;700&family=Tangerine:wght@400;700&display=swap');

$primary-font-family: 'Comfortaa', cursive;
$secondary-font-family: 'Open Sans', sans-serif;
$mobile-font-family: 'Tangerine', cursive;

