/*       Small Mobile      */
$screen-sm-min: 320px;

/*    Mobile and Small Tablet   */
$screen-md-min: 480px;
$screen-md-max: 600px;

/*         Tablet           */
$screen-lg-min: 768px;
$screen-lg-max: 1050px;

/*          Desktop        */
$screen-xl-min: 1050px;
$screen-xl-max: 1199px;
